<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaltest.persistence.EquipmentSuppliersRepository">
    <insert id="create">
        insert into Equipment_suppliers (equipment_id,supplier_id) values (#{equipmentId}, #{supplierId})
    </insert>
</mapper>