<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaltest.persistence.PatientRepository">
    <insert id="create" keyProperty="patient.id" useGeneratedKeys="true">
        insert into Patients (first_name, last_name, age, ward_id, diagnosis) values (#{patient.firstName},
        #{patient.lastName},#{patient.age},#{wardId},#{patient.diagnosis})
    </insert>

    <select id="getById" resultMap="PatientResultMap">
        select id, first_name, last_name, age, diagnosis from Patients where ward_id = #{wardId}
    </select>
    
    <resultMap id="PatientResultMap" type="com.solvd.hospitaltest.domain.Patient" autoMapping="false">
        <id property="id" column="patient_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="age" column="age"/>
        <result property="diagnosis" column="diagnosis"/>
    </resultMap>
</mapper>