<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospitaltest.persistence.WardRepository">
    <insert id="create" keyProperty="ward.id" useGeneratedKeys="true">
        insert into Wards (number,floor,department_id) values (#{ward.number}, #{ward.floor}, #{departmentId})
    </insert>

    <select id="getById" resultMap="WardResultMap">
        select id, number,floor from Wards where department_id=#{departmentId}
    </select>

    <resultMap id="WardResultMap" type="com.solvd.hospitaltest.domain.Ward" autoMapping="false">
        <id property="id" column="ward_id"/>
        <result property="number" column="number"/>
        <result property="floor" column="floor"/>
        <collection property="patients" javaType="ArrayList" resultMap="com.solvd.hospitaltest.persistence.PatientRepository.PatientResultMap"/>
    </resultMap>
</mapper>